/* Main components design */

div.about-hero {
    width: 100%;
    height: 900px;

    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
}
img.about-img {
    align-self: flex-end;
}
p.about-para {
    align-self: center;
    font-size: 25px;
    text-align: center;
    padding-right: 80px;
}
div.games-hero {
    width: 100%;
    
    background: RGB(36, 61, 108);
    background: linear-gradient(90deg,rgba(36, 61, 108, 1) 0%, rgba(70, 35, 94, 1) 100%);
    padding: 200px 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
img.game-img {
    width: 250px;
    height: auto;
}
div.game-cont {
    width: 400px;
    height: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 25px;

    display: flex;
    justify-content: center ;
    align-items: center;
}
div.info-hero {
    width: 100%;
    padding: 120px 30px;

    background-color: black;
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 30px;
}
img.info-img {
    width: 600px;
    height: auto;
}
div.info-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

/* Hover design */

div.game-cont:hover {
    -webkit-box-shadow: 5px 5px 24px 18px rgba(0,0,0,0.71); 
    box-shadow: 5px 5px 24px 18px rgba(0,0,0,0.71);
    transition: 0.5s ease-in-out;
}

* {
  box-sizing: content-box;
}

@media screen and (max-width: 1200px) {
    div.about-hero {
        flex-direction: column-reverse;
        gap: 50px;
        padding: 0 30px;
        justify-content: flex-start;
    }
    img.about-img {
        align-self: center;
        justify-self: flex-end;
    }
}

@media screen and (max-width: 800px) {
    div.about-hero {
        height: auto;
        padding: 50px;
    }
    p.about-para {
        font-size: 20px;
    }
}