div.banner {
    width: 100%;
    height: 100dvh;

    background-image: url(https://images.hdqwalls.com/wallpapers/hogs-clash-royale-5m.jpg);
    background-size: cover;
}
div.banner-wrap {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #a3e0ff;
}
div.aboutus-hero {
    width: 100%;
    padding: 150px 50px 0 50px;

    background-color: black;
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
img.aboutus-img {
    align-self: flex-end;
}
p.aboutus-para {
    width: 50%;
    font-size: 30px;
    text-align: center;
}
div.goals-hero {
    width: 100%;
    background-color: #60abd9;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    padding: 120px 0;
}
div.goals-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 25px;
}
div.goal {
    padding: 20px;
    border-radius: 25px;
    background-color: #a3e0ff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}