div.contacts-hero {
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background: RGB(36, 61, 108);
    background: linear-gradient(90deg,rgba(36, 61, 108, 1) 0%, rgba(70, 35, 94, 1) 100%);
}
div.contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
div.contact {
    width: 400px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: black;
    color: #45245e;
    border-radius: 25px;
}

@media screen and (max-width: 818px) {
    div.contacts-hero {
        height: auto;
        padding: 150px 10px;
    }
}